
@{
    ViewBag.Title = "Sum";
}

<h2>Sum</h2>
<input type="text" value="" id="txtVal1" />
<input type="text" value="" id="txtVal2" />
<input type="text" vlaue="" id="txtResult" />
<button type="button" id="btnSum" onclick="mySum();">덧셈 시작</button>

<script>
    function mySum() {
        var value1 = document.getElementById('txtVal1');
        var value2 = document.getElementById('txtVal2');
        var Result = parseInt(value1.value) + parseInt(value2.value);
        document.getElementById('txtResult').value = Result;
    }
</script>

